body {
    font-family: 'Merriweather',serif;
    font-size: 16px;
}

select, select.form-control{
    width: auto;
}

.btn, .navbar, select, select.form-control {
    border-radius: 0
}

.btn:focus {
    outline: none;
}

main {
    min-height: calc(100% - 142px);
}

.results-block{
    margin-bottom: 15px;
}

header.navbar {
    background-color: #455a64;
}

.navbar {
    border: none;
}

header h1{
    font-family: cursive;
    color: #13daec;
    font-weight: 300;
    text-shadow: 0px 1px 0px #050058;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.control-label{
    text-align: left !important;
    font-weight: normal;
}

.matrix {
    padding: 2px 15px;
    display: inline-block;
    max-width: 100%;
}

.matrix table {
    margin: 0;
}

.matrix th {
    background-color: #d9edf7;
    text-align: center;
    padding: 8px;
}

.matrix td.input-cell {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.matrix input {
    text-align: center;
    padding: 1px 3px;
    width: 45px;
    border: none;
    background-color: transparent;
}

footer {
    margin: 0 auto;
}

footer .navbar {
    border-top: 1px solid rgba(64, 83, 93, 0.2);
    background-color: #eceff1;
    margin: 0 auto;
}

footer .navbar .text-center{
    color: #455a64; 
    float: none;
}

.navbar-link {
    color: #455a64 !important;
}

@media (max-width: 768px) {
    .results-block{
        border-top: 1px dotted gray;
        padding-top: 10px;
    }
}
