@font-face {
    font-family: comic;
    src: url("../fonts/comic.ttf");
}

body {
    font-family: 'Merriweather',serif;
    font-size: 16px;
}

select, select.form-control{
    width: auto;
}

.btn, .navbar, select, select.form-control {
    border-radius: 0
}

.btn:focus {
    outline: none;
}

main {
    min-height: calc(100% - 142px);
}

.results-block{
    margin-bottom: 15px;
}

header.navbar {
    background-color: #455a64;
}

.navbar {
    border: none;
}

header h1{
    font-family: comic, cursive;
    color: #13daec;
    font-weight: 300;
    text-shadow: 0px 1px 0px #050058;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.control-label{
    text-align: left !important;
    font-weight: normal;
}

.matrix, .groups-block, .connected-groups-block, .groups-with-modules-block {   /* виділити в .content-bock */
    padding: 2px 15px;
    display: inline-block;
    max-width: 100%;
}

.matrix table {
    margin: 0;
}

.matrix th, .groups-block th, .connected-groups-block th, .groups-with-modules-block th{
    /*background-color: #dde5ff;
      background-color: #D7F6F6;    */
    background-color: #d9edf7;
    text-align: center;
    padding: 8px;
}

.matrix td.input-cell {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.matrix input {
    text-align: center;
    padding: 1px 3px;
    width: 45px;
    height: 100%;
    border: none;
    background-color: transparent;
}

footer {
    margin: 0 auto;
}

footer .navbar {
    border-top: 1px solid rgba(64, 83, 93, 0.2);
    background-color: #eceff1;
    margin: 0 auto;
}

footer .navbar .text-center{
    color: #455a64; 
    float: none;
}

.navbar-link {
    color: #455a64 !important;
}


.no_script_message {
    display: block;
    background-color: antiquewhite;
    border: 3px solid red;
    margin: 0 0 10px;
    font-weight: bold;
    text-align: center;
    z-index: 2015;
}


.modal-dialog{
    min-width: 98%;
}
    .modal-title {
        text-align: center;
    }

    .graph-wrapper {
        min-height: 200px;
        overflow: auto;
		text-align: center;
    }

    .carousel-control,
    .carousel-control.right,
    .carousel-control.left {
        background-image: none;
        /*text-shadow: 5px 0px 1px rgba(0, 28, 255, 0.58), -4px 0px 1px rgba(0, 28, 255, 0.58);  */
        text-shadow: 5px 0px 1px rgba(0, 0, 0, 0.5), -4px 0px 1px rgba(0, 0, 0, 0.5);
    }

    .carousel-control:hover {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
        opacity: .4;
    }

    .carousel-indicators li {
        border: 1px solid gray;
    }

    .carousel-caption {
        color: inherit;
    }

.node {
    cursor: pointer;
   /* stroke: #3182bd;
    stroke-width: 2px;  */
    fill: transparent;
    r: 1em;
}

.node-label {
    text-anchor: middle;
    cursor: pointer;
}

.edge {
    fill: none;
    stroke: #9ecae1;
    z-index: 2016;
}

.arrowhead{
    fill: #9ecae1;
    stroke: #9ecae1;
}





@media (max-width: 970px) {
    .results-block{
        border-top: 1px dotted gray;
        padding-top: 10px;
    }
}
